*.bak
*.orig
*.rej
/baltasarLive.html
/caspar/data/BALTASAR
/deploy.bat
/deploy_full.bat
/caspar/media/dve_bkg/old/bkg_enter.mov
/caspar/media/dve_bkg/old/bkg_loop.mov
/temp/back_blue_1080.mov
/temp/back_red_1080.mov
/test/dve_bkg.amcp
/caspar/media/dve_bkg/bkg_loop.mov
/caspar/media/dve_bkg/bkg_enter.mov
/caspar/media/dve_bkg/bkg_enter.mov-probe.txt
/temp
/deploy_bctl.bat
/deploy_spb.bat
